/**************************************************************************************************
 * Base Rules
 **************************************************************************************************/
body  {
    font-size: 62.5%;
    font-family: 'Bell MT', 'Georgia', serif;
}
h2 {
    font-size: 0.8rem;
}
div {
    padding: 0.2rem 1rem;
    margin: 0.2rem 0.4rem;
    font-size: 0.8rem;
    text-align: center;
}
input {
    padding: 0.2rem 1rem;
    margin: 0.2rem 0.4rem;
    font-size: 0.8rem;
    text-align: center;
    font: inherit;
    border: 1px solid;
    border-radius: 0.5rem;
}
button {
    padding: 0.2rem 0.4rem;
    margin: 0.2rem 0.4rem;
    font-size: inherit;
    cursor: pointer;
    font: inherit;
    border: 1px solid;
    border-radius: 0.5rem;
}
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0;
    border: 0;
    text-align: left;
}
/**************************************************************************************************
 * Layout Rules
 **************************************************************************************************/
.page {
    width: 90%;
    margin: 2rem auto;
}
.store {
    text-align: center;
}
.switch-theme-btn {
    position: fixed;
    right: 1rem;
    top: 1rem;
}
/* Tables */
.tbody, .thead, .catalog, .tr, .td, .th {
    padding: 0.2rem 1rem;
    margin: 0.2rem 0.4rem;
    font-size: 0.8rem;
    text-align: center;
}
.catalog {
    margin: 0 auto;
    display: table;
    width: 100%;
}
.tr {
    display: table-row;
}
.tbody {
    display: table-row-group;
}
.thead {
    display: table-header-group;
    font-weight: bold;
}
.td, .th {
    display: table-cell;
    border: 1px solid;
}
.cart-container {
    width: 90%;
}
@media screen and (min-width: 60rem) {
    .cart-container {
        width: 50%;
    }
}
/**************************************************************************************************
 * Module Rules
 **************************************************************************************************/
/* Catalogue */
.catalog .tr-sale {
    font-weight: bold;
}
.image {
    position: relative;
}
.catalog .tr img {
    position: absolute;
    margin: 0 auto;
    width: 2rem;
    left: 30%;
    top: 0.7rem;
}
.description {
     width: 30%;
     text-align: left;
 }
.th-description {
    text-align: center;
}
.old-price {
    font-weight: normal;
    text-decoration: line-through;
    display: block;
}
.new-price {
    font-weight: bold;
}
.sort-asc-btn,
.sort-desc-btn {
    display: inline-block;
    width: 0.5rem;
    height: 1rem;
    cursor: pointer;
}
/* Cart Module */
.cart-container {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border: 1px dashed #ddd;
}
.cart-table,
.coupon-table {
    margin: 0 auto;
    display: inline-block;
}
.total-bill {
    border: 1px solid #ddd;
    display: block;
    margin: 0 auto;
}
.reset-cart-btn,
.view-cart-btn,
.hide-cart-btn {
    margin: 0.5rem 0 1rem;
    cursor: pointer;
}
.coupon-input {
    display: block;
    margin: 0 auto;
}
/* Quantity Buttons */
.item-amount .add,
.item-amount .remove {
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    text-decoration: none;
    margin-right: 0.5rem;
    border: none;
}
.item-amount .amount {
    width: 2rem;
    padding: 0.05rem 0;
    border: none;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.item-amount .amount {
    border: 1px solid;
}
/* Pagination */
.pagination-list {
    display: inline-block;
    padding: 0;
    margin: 2rem 0;
    box-sizing: border-box;
    font-size: 0;
    border-radius: 0.5rem;
}
.page-btn:last-child .page-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.page-btn:first-child .page-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.current-page-btn {
    font-weight: bold;
}
.pagination-list .page-link {
    position: relative;
    float: left;
    padding: 0.2rem 0.5rem;
    margin-left: -0.05rem;
    border: 1px solid;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}
.page-btn {
    margin: 0 auto;
    padding: 0.5rem 0;
    display: inline-block;
    list-style-type: none;
}
.paging-size {
    display: block;
    margin: 0 auto;
    padding: 0.15rem 0.25rem;
    font-size: 0.7rem;
}
/**************************************************************************************************
 * Theme Rules
 **************************************************************************************************/
/* General Rules */
.catalog .tr:nth-child(even),
.cart-container {
    background-color: #f5f5f5;
}
.catalog .td, .th {
    border-color: #fff;
}
.tr-out {
    color: #808080;
}
input,
button {
    border-color: #ddd;
    background-color: #fff;
}
.item-amount .add,
.item-amount .remove {
    background-color: inherit;
}
.item-amount .amount {
    color: #fff;
}
.item-amount .amount {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.pagination-list .page-link,
.cart-container .td {
    background-color: #fff;
    border-color: #ddd;
}
.cart-container .th {
    border-color: #ddd;
}
/* Deafult Theme */
.default-theme input,
.default-theme button,
.default-theme .item-amount .add,
.default-theme .item-amount .remove,
.default-theme .pagination-list .page-link,
.default-theme .switch-theme-btn {
    color: #337ab7;
}
.default-theme .thead,
.default-theme .item-amount .amount,
.default-theme .switch-theme-btn {
    background-color: #CAE3FA;
}
/* Green Theme */
.green-theme input,
.green-theme button,
.green-theme .item-amount .add,
.green-theme .item-amount .remove,
.green-theme .pagination-list .page-link,
.green-theme .switch-theme-btn {
    color: #006400;
}
.green-theme .thead,
.green-theme .item-amount .amount,
.green-theme .switch-theme-btn {
    background-color: #8FBC8F;
}

/**************************************************************************************************
 * State Rules
 **************************************************************************************************/
button:hover {
    background-color: #ddd;
}